<!DOCTYPE html>
<html>
<head>
  <title>RateLabor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <style>
    body {
      background-image: url("work.jpg");
      background-size: 100%;
    }
  </style>
</head>
<!-- <body> background="https://www.kissfromtheworld.com/user_yourwowshot/162/images/001_Philippines_yws_citta_Hard_labor_Kiss_From_The_World_travel_and_people_magazine.jpg"> -->
<div id="bground">
<body>
  <nav>
    <div class="nav-wrapper green">
      <a href="#" class="brand-logo left">RateLabor</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Sass</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </div>
  </nav>

  <!-- <div class="parallax-container">
    <div class="parallax"><img src=""></div>
  </div> -->

  <%= yield %>

  <!-- <%= image_tag("work.jpg", size: "1300x400") %> -->


</body>
</div>
</html>
