<style>
  .words {
    margin-left: 42em;
  }
</style>

<div class='left words'>
  <h1>Welcome</h1>
  <a href="/companies">Is a certain company safe?</a><br>
  <a href="#">Is my recruiter legit?</a><br>
  <a href="#">Alternatives</a><br>
</div>
