<style>
  .words {
    margin-left: 20em;
    margin-right: 20em;
  }
  a {
    font-size: 1.35em;
  }
</style>

<div class='card-panel center words'>
  <h1>Welcome</h1>
  <a href="/companies">Is a certain company safe?</a><br>
  <a href="/recruiters">Is my recruiter legit?</a><br>
  <a href="/recruiters">Alternatives</a><br>
</div>
